<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	 
	 
	 	 
  
 <!-- <bean id="a" class="com.sample.Customer">
	 
	 	 <property name="id" value="123"></property>
	 	<property name="name" value="avinash"></property> 
	    <property name="city" value="beed"></property> 
	 	 
  </bean> -->
  <bean id="e" class="com.sample.Emp">
 <constructor-arg index="0" value="1234"></constructor-arg>
  <constructor-arg index="1" value="avinash"></constructor-arg>
 </bean>
  </beans> 
